/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_BITMAP_UK             BITMAP  DISCARDABLE     "UK.bmp"
IDB_BITMAP_QC             BITMAP  DISCARDABLE     "QU.bmp"

/////////////////////////////////////////////////////////////////////////////




